<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Language Coach</title>
</head>
<body>
<div class="container-fluid text-center mt-5">
    <h1>AI Language Coach</h1>
    <p>This Language Coach is designed to facilitate your attainment of TELC certifications.</p>
    <p>Simply input your text (up to 450 words), and receive an enhanced version along with a detailed analysis aligned with TELC criteria.</p>
    <p>Tip: Note that words like 'a', 'an', 'the', or similar, count as individual words in the exam. 😉</p>
    <form class="" action="/" method="post"> 
        <div class="mb-3">
            <label for="exampleFormControlTextreal" class="form-label">example text area</label>
            <textarea class="form-control" id="exampleFormControlTextreal" rows="3"></textarea>
        </div>
    </form>
</div>
</body>
</html>